<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @equipment.value %>
</p>

<p>
  <strong>Category:</strong>
  <%= @equipment.category_id %>
</p>

<%= link_to 'Edit', edit_equipment_path(@equipment) %> |
<%= link_to 'Back', equipment_index_path %>
