<div class="container p-5">
  <p id="notice"><%= notice %></p>

  <h1 class="mb-5">Mes réservations validées</h1>

  <table>
    <thead>
    <tr>
      <th>User</th>
      <th>Location</th>
      <th>Price</th>
      <th>Date in</th>
      <th>Date out</th>
      <th>Nb people</th>
      <th>Stripe reference</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.user_id %></td>
        <td><%= reservation.location_id %></td>
        <td><%= reservation.price %></td>
        <td><%= reservation.date_in %></td>
        <td><%= reservation.date_out %></td>
        <td><%= reservation.nb_people %></td>
        <td><%= reservation.stripe_reference %></td>
        <td><%= reservation.status %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>


  <h1 class="mb-5">Mes réservations en attentes</h1>

  <table>
    <thead>
    <tr>
      <th>User</th>
      <th>Location</th>
      <th>Price</th>
      <th>Date in</th>
      <th>Date out</th>
      <th>Nb people</th>
      <th>Stripe reference</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @waiting_reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.user_id %></td>
        <td><%= reservation.location_id %></td>
        <td><%= reservation.price %></td>
        <td><%= reservation.date_in %></td>
        <td><%= reservation.date_out %></td>
        <td><%= reservation.nb_people %></td>
        <td><%= reservation.stripe_reference %></td>
        <td><%= reservation.status %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Reservation', new_reservation_path %>

</div>