<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @feedback.user %>
</p>

<p>
  <strong>Location:</strong>
  <%= @feedback.location %>
</p>

<p>
  <strong>Score:</strong>
  <%= @feedback.score %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @feedback.comment %>
</p>

<%= link_to 'Editer', edit_feedback_path(@feedback) %> |
<%= link_to 'Retour', feedbacks_path %>
