<%= form_with(model: location) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :nbRoom %>
    <%= form.number_field :nbRoom %>
  </div>

  <div class="field">
    <%= form.label :nbBed %>
    <%= form.number_field :nbBed %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.number_field :type %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street %>
  </div>

  <div class="field">
    <%= form.label :zipcode %>
    <%= form.text_field :zipcode %>
  </div>

  <div class="field">
    <%= form.label :lat %>
    <%= form.text_field :lat %>
  </div>

  <div class="field">
    <%= form.label :long %>
    <%= form.text_field :long %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="field">
    <%= form.label :avgScore %>
    <%= form.text_field :avgScore %>
  </div>

  <div class="field">
    <%= form.label :equipments_id %>
    <%= form.text_field :equipments_id %>
  </div>

  <div class="field">
    <%= form.label :locationOptions_id %>
    <%= form.text_field :locationOptions_id %>
  </div>

  <div class="field">
    <%= form.label :reservation_id %>
    <%= form.text_field :reservation_id %>
  </div>

  <div class="field">
    <%= form.label :feedbacks_id %>
    <%= form.text_field :feedbacks_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
