<%= form_with(model: location) do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul>
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :nb_people_max %>
    <%= form.number_field :nb_people_max, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :nb_room %>
    <%= form.number_field :nb_room, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :nb_bed %>
    <%= form.number_field :nb_bed, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :type_location %>
    <%= form.select :type_location, options_for_select(Location.type_locations.keys.to_a), class: 'form-control' %>

  </div>

  <div class="field form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :city %>
    <%= form.text_field :city, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :street %>
    <%= form.text_field :street, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :zip_code %>
    <%= form.text_field :zip_code, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, class: 'form-control' %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :price %>
    <%= form.text_field :price, class: 'form-control' %>
  </div>

  <div class="field form-group">
    <%= form.label :avg_score %>
    <%= form.text_field :avg_score, class: 'form-control' %>
  </div>

  <div id="location_appliance">
    <div class="jumbotron">
      <h3>Indiquez aux voyageurs quels sont les équipements de votre logement</h3>
    </div>
    <div class="appliances-grid">
      <% @appliances.each do | appliance | %>
        <div class="appliance-button">
          <button class="appliance-tile" type="button" role="checkbox" aria-checked="false" name="appliance_ids[]" id=<%=appliance.value%> value=<%=appliance.id%>>
            <%= image_tag(appliance.value + ".svg", :alt => "placeholder") %>
            <%= appliance.value %>
          </button>
        </div>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<script>
  document.addEventListener('turbolinks:load', () => {
    let appliance_tiles = document.querySelectorAll('.appliance-tile')
    appliance_tiles.forEach(e => {
      e.addEventListener('click', function (event) {
        if (!e.getAttribute('aria-checked') || e.getAttribute('aria-checked') === "false"){
          e.setAttribute('aria-checked', true)
        } else {
          e.setAttribute('aria-checked', false)
        }
      })
    });
  });
</script>
