<p id="notice"><%= notice %></p>

<h1>Locations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Nb room</th>
      <th>Nb bed</th>
      <th>Type location</th>
      <th>Description</th>
      <th>City</th>
      <th>Street</th>
      <th>Zip code</th>
      <th>Lat</th>
      <th>Long</th>
      <th>Price</th>
      <th>Avg score</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.name %></td>
        <td><%= location.nb_room %></td>
        <td><%= location.nb_bed %></td>
        <td><%= location.type_location %></td>
        <td><%= location.description %></td>
        <td><%= location.city %></td>
        <td><%= location.street %></td>
        <td><%= location.zip_code %></td>
        <td><%= location.lat %></td>
        <td><%= location.long %></td>
        <td><%= location.price %></td>
        <td><%= location.avg_score %></td>
        <td><%= link_to 'Show', location %></td>
        <td><%= link_to 'Edit', edit_location_path(location) %></td>
        <td><%= link_to 'Destroy', location, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_location_path %>
