<div class="container" id="single_location">
  <div class="content">
    <div class="content-header">

      <%= link_to 'Editer', edit_location_path(@location) %> |
      <%= link_to 'Retour', locations_path %>
      <h4><%= @location.name %></h4>
      <div>
        <div class="d-flex align-items-center justify-content-between">
          <div class="overview">
            <div class="overview-score">
              <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false" style="display: block; height: 14px; width: 14px; fill: currentcolor;">
                <path d="M15.094 1.579l-4.124 8.885-9.86 1.27a1 1 0 0 0-.542 1.736l7.293 6.565-1.965 9.852a1 1 0 0 0 1.483 1.061L16 25.951l8.625 4.997a1 1 0 0 0 1.482-1.06l-1.965-9.853 7.293-6.565a1 1 0 0 0-.541-1.735l-9.86-1.271-4.127-8.885a1 1 0 0 0-1.814 0z" fill-rule="evenodd"></path>
              </svg>
              <%= @location.avg_score %>
            </div>
            <span>&middot</span>
            <div class="overview-comments">
              (20 commentaires todo)
            </div>
            <span>&middot</span>
            <div class="overview-localization">
              <%= @location.city %>
            </div>
          </div>
          <div class="location-action">
            <div class="share">
              <button>
                <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false">
                  <g fill="none">
                    <path d="M27 18v9a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2v-9"></path>
                    <path d="M16 3v23V3z"></path>
                    <path d="M6 13l9.293-9.293a1 1 0 0 1 1.414 0L26 13"></path>
                  </g>
                </svg>
                <a>Partager</a>
              </button>
            </div>
            <div>
              <button>
                <% if @location.user_fav != [] %>
                  <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false"
                       style="display: block; height: 24px; width: 24px; stroke: var(--ihf-tp-q); stroke-width: 2; overflow: visible; fill: #ff385c">
                    <path d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z"></path>
                  </svg>
                <% else %>
                  <svg viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="presentation" focusable="false">
                    <path d="m16 28c7-4.733 14-10 14-17 0-1.792-.683-3.583-2.05-4.95-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05l-2.051 2.051-2.05-2.051c-1.367-1.366-3.158-2.05-4.95-2.05-1.791 0-3.583.684-4.949 2.05-1.367 1.367-2.051 3.158-2.051 4.95 0 7 7 12.267 14 17z"></path>
                  </svg>
                <% end %>
                <%= link_to @location.user_fav != [] ? 'Retirer' : 'Enregistrer', controller: "locations", action: "add_to_fav", id: @location %>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="location-images">
      <div class="main-image">
        <%= image_tag("placeholder.jpg", :alt => "placeholder") %>
      </div>
      <div class="subimages">
        <div class="subimages-column-1">
          <div>
            <%= image_tag("placeholder.jpg", :alt => "placeholder") %>
          </div>
          <div class="second-image">
            <%= image_tag("placeholder.jpg", :alt => "placeholder") %>
          </div>
        </div>
        <div class="subimages-column-2">
          <div class="first-image">
            <%= image_tag("placeholder.jpg", :alt => "placeholder") %>
          </div>
          <div class="second-image">
            <%= image_tag("placeholder.jpg", :alt => "placeholder") %>
            <div class="img-button">
              <a>
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 17" role="presentation" aria-hidden="true" focusable="false" style="height: 12px; width: 12px; display: block; fill: currentcolor;">
                    <circle cx="1.5" cy="1.5" r="1.5"></circle>
                    <circle cx="1.5" cy="8.5" r="1.5"></circle>
                    <circle cx="8.5" cy="1.5" r="1.5"></circle>
                    <circle cx="8.5" cy="8.5" r="1.5"></circle>
                    <circle cx="15.5" cy="1.5" r="1.5"></circle>
                    <circle cx="15.5" cy="8.5" r="1.5"></circle>
                    <circle cx="1.5" cy="15.5" r="1.5"></circle>
                    <circle cx="8.5" cy="15.5" r="1.5"></circle>
                    <circle cx="15.5" cy="15.5" r="1.5"></circle>
                  </svg>
                </div>
                <div>
                  Afficher toutes les photos
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="location-body">
      <div class="location-infos">
        <div class="location-infos-header">
          <h5>Type de logement : <%= @location.type_location %> todo</h5>
          <p class="p-2"></p>
          <h5>Hôte: <%= @location.user.name %></h5>
        </div>
        <div class="location-infos-footer">
          <span><%= @location.nb_room %> pièce(s)</span>
          <span>&middot</span>
          <span><%= @location.type_location %> Studio</span>
          <span>&middot</span>
          <span><%= @location.nb_bed %> lit(s)</span>
        </div>

        <div class="element-separator"></div>

        <div class="location-equipement">
          <h4>Ce que propose le logement</h4>

          <div class="equipement-details">
            <div class="equipements">
              <% @location.appliances.each do |appliance| %>
                <div>
                  <%= image_tag(appliance.value + ".svg", :alt => "placeholder") %>
                  <%= appliance.value %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="reservation">
        <form class="reservation-box" action="<%= reservations_url %>" method="POST">
          <input type="hidden" name="user_id" value="<%= current_user.id %>">
          <input type="hidden" name="location_id" value="<%= @location.id %>">
          <input type="hidden" name="price" value="<%= @location.price %>">
          <div class="box-header">
            <div class="box-header-left">
              <span><%= @location.price %>€</span> / nuit
            </div>
            <div class="box-header-right">
              <div class="box-score">
                <%= @location.avg_score %> ·
              </div>
              <div class="box-comments">
                nb commentaires
              </div>
            </div>
          </div>
          <div class="box-body">
            <div class="box-form">
              <div class="form-dates">
                <div class="form-arrival">
                  <div class="form-label">ARRIVÉE</div>
                  <div class="form-input">
                    <input type="date" class="datepicker-input" id="arrival" name="date_in" required></div>
                </div>
                <div class="form-departure">
                  <div class="form-label">DÉPART</div>
                  <div class="form-input">
                    <input type="date" class="datepicker-input" id="departure" name="date_out" required></div>
                </div>
              </div>
              <div class="form-travelers">
                <div class="form-label">VOYAGEURS</div>
                <div class="form-input">
                  <input type="number" id="travelers" max="<%= @location.nb_people_max %>" name="nb_people" placeholder="Combien ?" required min="0">
                </div>
              </div>
            </div>
            <button>Réserver</button>
          </div>
        </form>
      </div>
    </div>

    <div class="comments-section">
      <div>
        commentaires ici !
      </div>
    </div>
  </div>
</div>

<script>
    document.addEventListener('turbolinks:load', () => {
        let departPicker = document.getElementById('departure');
        let arriveePicker = document.getElementById('arrival');
        var dtToday = new Date();

        var month = dtToday.getMonth() + 1;
        var day = dtToday.getDate();
        var year = dtToday.getFullYear();
        if (month < 10)
            month = '0' + month.toString();
        if (day < 10)
            day = '0' + day.toString();

        var maxDate = year + '-' + month + '-' + day;
        departPicker.setAttribute('min', maxDate);
        arriveePicker.setAttribute('min', maxDate);

        // Blur event is fired when the element loses focus
        arriveePicker.addEventListener('blur', function (event) {
            let departDate = departPicker.value;

            let arriveeDate = arriveePicker.value;

            if (arriveeDate > departDate) {
                departDate = arriveeDate;
            }

            departPicker.setAttribute('min', departDate);
        });
    });
</script>
