<div class="container" id="single_location">
  <div>

    <%= link_to 'Edit', edit_location_path(@location) %> |
    <%= link_to 'Back', locations_path %>
    <h1><%= @location.name %></h1>
    <div>
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex">
          <p><%= @location.avg_score %>
            ·
            (20 commentaires todo)
            <%= @location.city %>
          </p>
        </div>
        <div class="location_action">
          <a>Partager</a>
          <a>Enregister</a>
        </div>
      </div>
    </div>
  </div>

  <div>
    <%= image_tag("placeholder.jpg", :alt => "placeholder") %>
  </div>

  <div>

    <div>
      <h2>Type de logement : <%=@location.type_location %> todo</h2>
      <h2>Hôte: placeholder</h2>
      <div>

      </div>
    </div>
    <div>
      <%=@location.description %>
    </div>

    <div>
      <h2>Ce que propose le logement</h2>

      <ul class="list-group">
        <li class="list-group-item">Placeholder</li>
        <li class="list-group-item">Placeholder</li>
        <li class="list-group-item">Placeholder</li>
        <li class="list-group-item">Placeholder</li>
        <li class="list-group-item">Placeholder</li>
      </ul>
    </div>

    <hr>

    <div>
      <div>
        <p><%=@location.avg_score %> · 20 commentaires</p>
      </div>
      <div>
        commentaires ici !
      </div>
    </div>
  </div>

</div>


