<div class="p-5">
  <div class="d-flex justify-content-between">
    <ul class="list-group">
      <li class="fw-bold">Assistance</li>
      <li>Centre d'aide</li>
      <li>Informations de sécurité</li>
      <li>Options d'annulation</li>
      <li>Nos mesures face au Covid-19</li>
      <li>Soutenir les personnes en situation de handicap</li>
      <li>Signaler un problème de voisinage</li>
    </ul>
    <ul>
      <li class="fw-bold">Communauté</li>
      <li> Airbnb.org : réponse aux catastrophes</li>
      <li> Soutenir les réfugiés afghans</li>
      <li> La diversité et l'intégration</li>
      <li>Lutte contre la discrimination</li>
    </ul>
    <ul>
      <li class="fw-bold">Accueil de voyageurs</li>
      <li>
        Devenir hôte
      </li>
      <li> AirCover : protection hôtes
      </li>
      <li> Ressources pour les hôtes
      </li>
      <li> Forum de la communauté
      </li>
      <li>Accueillir de manière responsable</li>
    </ul>
    <ul>
      <li class="fw-bold">À propos</li>
      <li>
        Newsroom
      </li>
      <li> En savoir plus sur les nouveautés
      </li>
      <li> Lettre de nos fondateurs
      </li>
      <li> Carrières
      </li>
      <li> Investisseurs
      </li>
      <li>Airbnb Luxe</li>
    </ul>
  </div>
  <hr>
  <div class="d-flex justify-content-between">
    <ul class="list-group list-group-horizontal justify-content-between w-75 ">
      <li class="list-group">© 2022 MatelasGonflableEtPetitDejeuner, Inc.</li>
      <li class="list-group"><a href="https://www.airbnb.fr/help/article/2855/politique-de-confidentialité">Confidentialité</a></li>
      <li class="list-group">Conditions générales</li>
      <li class="list-group">Plan du site</li>
      <li class="list-group">Fonctionnement du site</li>
      <li class="list-group">Infos sur l'entreprise</li>
    </ul>

    <div>
      <%= link_to "https://www.facebook.com/AirbnbFrance" do %>
        <%= fa_icon "facebook" %>
      <% end %>
      <%= link_to "https://twitter.com/airbnb_fr", class: "ms-4" do %>
        <%= fa_icon "twitter" %>
      <% end %>
      <%= link_to "https://www.instagram.com/airbnb/", class: "ms-4" do %>
        <%= fa_icon "instagram" %>
      <% end %>
    </div>
  </div>
</div>